In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv("./datasets/share-of-the-population-with-access-to-electricity.csv")

In [3]:
df[df["Year"] == 2000].loc[:, df.columns != "Year"]

           Entity      Code  Access_to_Electricity_percent
0     Afghanistan       AFG                       1.613591
31        Albania       ALB                     100.000000
52        Algeria       DZA                      98.973099
83        Andorra       AND                     100.000000
104        Angola       AGO                      24.212744
...           ...       ...                            ...
6146      Vietnam       VNM                      87.828415
6169        World  OWID_WRL                      78.223953
6198        Yemen       YEM                      49.187256
6229       Zambia       ZMB                      16.700001
6258     Zimbabwe       ZWE                      33.654888

[226 rows x 3 columns]

In [12]:
np.sort(df["Year"].unique())

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [5]:
df.to_json("electricity_access.json", orient="records")