In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("./datasets/API_SP.POP.2529.MA.5Y_DS2_en_csv_v2_4901832.csv")

In [9]:
df

,Country Name,Codes,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,6.568037,6.541749,6.560672,6.610868,6.692301,6.794437,...,5.633122,5.768798,5.942144,6.127858,6.275932,6.351372,6.319714,6.162766,5.985740,5.906547
1,Africa Eastern and Southern,AFE,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.268827,7.232482,7.193066,7.153990,7.118134,7.085812,...,7.996659,8.029973,8.052314,8.057587,8.031092,7.986239,7.949587,7.918884,7.907558,7.915104
2,Afghanistan,AFG,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.869995,7.842659,7.826143,7.814116,7.793515,7.760384,...,6.908638,7.049158,7.237195,7.381759,7.479142,7.614849,7.754925,7.900946,8.072640,8.206038
3,Africa Western and Central,AFW,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.589850,7.563194,7.543786,7.528693,7.510447,7.491884,...,7.676077,7.608481,7.552575,7.512758,7.486850,7.475561,7.473160,7.473495,7.481093,7.497339
4,Angola,AGO,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,8.197999,8.187506,8.110129,8.000272,7.847683,7.660072,...,7.567986,7.602068,7.617446,7.612904,7.597314,7.570522,7.528481,7.479027,7.420453,7.362556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.774103,7.608481,7.462207,7.376000,7.338576,7.328098,...,8.651405,8.670017,8.587710,8.566801,8.586995,8.512514,8.385447,8.223867,8.100386,8.037085
262,"Yemen, Rep.",YEM,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.695322,7.713647,7.733502,7.748178,7.752027,7.748045,...,8.663099,8.807357,8.932683,9.031882,9.108194,9.168922,9.206194,9.214375,9.186832,9.084586
263,South Africa,ZAF,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.085578,7.094744,7.065001,7.051755,7.057766,7.086745,...,10.620485,10.826302,10.991493,11.106720,10.981359,10.659040,10.332643,9.983417,9.660897,9.347147
264,Zambia,ZMB,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.043807,7.020749,7.007485,6.997478,6.978038,6.948976,...,8.379294,8.340824,8.296422,8.243564,8.185065,8.133338,8.093667,8.067609,8.055195,8.051027
265,Zimbabwe,ZWE,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,6.590636,6.529023,6.477840,6.441299,6.425723,6.424420,...,8.458839,8.081542,7.697981,7.365558,7.124597,6.992275,6.955311,6.996180,7.097758,7.252737

In [10]:
for k in range(1960, 2022):
    df[str(k)] = df[str(k)].apply( lambda x: round(x,2) )

In [11]:
df

,Country Name,Codes,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,6.57,6.54,6.56,6.61,6.69,6.79,...,5.63,5.77,5.94,6.13,6.28,6.35,6.32,6.16,5.99,5.91
1,Africa Eastern and Southern,AFE,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.27,7.23,7.19,7.15,7.12,7.09,...,8.00,8.03,8.05,8.06,8.03,7.99,7.95,7.92,7.91,7.92
2,Afghanistan,AFG,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.87,7.84,7.83,7.81,7.79,7.76,...,6.91,7.05,7.24,7.38,7.48,7.61,7.75,7.90,8.07,8.21
3,Africa Western and Central,AFW,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.59,7.56,7.54,7.53,7.51,7.49,...,7.68,7.61,7.55,7.51,7.49,7.48,7.47,7.47,7.48,7.50
4,Angola,AGO,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,8.20,8.19,8.11,8.00,7.85,7.66,...,7.57,7.60,7.62,7.61,7.60,7.57,7.53,7.48,7.42,7.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.77,7.61,7.46,7.38,7.34,7.33,...,8.65,8.67,8.59,8.57,8.59,8.51,8.39,8.22,8.10,8.04
262,"Yemen, Rep.",YEM,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.70,7.71,7.73,7.75,7.75,7.75,...,8.66,8.81,8.93,9.03,9.11,9.17,9.21,9.21,9.19,9.08
263,South Africa,ZAF,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.09,7.09,7.07,7.05,7.06,7.09,...,10.62,10.83,10.99,11.11,10.98,10.66,10.33,9.98,9.66,9.35
264,Zambia,ZMB,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,7.04,7.02,7.01,7.00,6.98,6.95,...,8.38,8.34,8.30,8.24,8.19,8.13,8.09,8.07,8.06,8.05
265,Zimbabwe,ZWE,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,6.59,6.53,6.48,6.44,6.43,6.42,...,8.46,8.08,7.70,7.37,7.12,6.99,6.96,7.00,7.10,7.25

In [12]:
df.to_json("percent_male_population_25-29.json")