In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./datasets/electricity-prod-source-stacked.csv")

In [3]:
df

,Entity,Code,Year,Other renewables excluding bioenergy (TWh) (zero filled),Electricity from bioenergy (TWh) (zero filled),Electricity from solar (TWh),Electricity from wind (TWh),Electricity from hydro (TWh),Electricity from nuclear (TWh),Electricity from oil (TWh),Electricity from gas (TWh),Electricity from coal (TWh)
0,Afghanistan,AFG,2000,0.0,0.00,0.00,0.0,0.31,0.0,0.16,0.0,0.00
1,Afghanistan,AFG,2001,0.0,0.00,0.00,0.0,0.50,0.0,0.09,0.0,0.00
2,Afghanistan,AFG,2002,0.0,0.00,0.00,0.0,0.56,0.0,0.13,0.0,0.00
3,Afghanistan,AFG,2003,0.0,0.00,0.00,0.0,0.63,0.0,0.31,0.0,0.00
4,Afghanistan,AFG,2004,0.0,0.00,0.00,0.0,0.56,0.0,0.33,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
10644,Zimbabwe,ZWE,2017,0.0,0.32,0.01,0.0,3.97,0.0,0.03,0.0,3.02
10645,Zimbabwe,ZWE,2018,0.0,0.39,0.02,0.0,5.05,0.0,0.04,0.0,3.69
10646,Zimbabwe,ZWE,2019,0.0,0.38,0.03,0.0,4.17,0.0,0.04,0.0,3.62
10647,Zimbabwe,ZWE,2020,0.0,0.35,0.03,0.0,3.81,0.0,0.04,0.0,3.37
10648,Zimbabwe,ZWE,2021,0.0,0.38,0.04,0.0,4.00,0.0,0.04,0.0,3.58

In [5]:
df_world = df[df["Entity"] == "World"]

In [6]:
df_world.fillna(0)

,Entity,Code,Year,Other renewables excluding bioenergy (TWh) (zero filled),Electricity from bioenergy (TWh) (zero filled),Electricity from solar (TWh),Electricity from wind (TWh),Electricity from hydro (TWh),Electricity from nuclear (TWh),Electricity from oil (TWh),Electricity from gas (TWh),Electricity from coal (TWh)
10378,World,OWID_WRL,1861,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10379,World,OWID_WRL,1862,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10380,World,OWID_WRL,1863,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10381,World,OWID_WRL,1864,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10382,World,OWID_WRL,1865,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
10534,World,OWID_WRL,2017,86.62,517.97,444.54,1136.41,4054.17,2566.22,872.27,5826.91,9521.74
10535,World,OWID_WRL,2018,89.80,549.25,570.57,1265.29,4174.84,2619.57,799.24,6051.69,9902.09
10536,World,OWID_WRL,2019,91.39,577.97,701.19,1419.53,4220.50,2724.08,738.53,6208.60,9684.42
10537,World,OWID_WRL,2020,94.28,605.08,852.10,1586.92,4340.61,2634.69,710.57,6153.20,9297.78
10538,World,OWID_WRL,2021,95.65,666.28,1040.50,1848.26,4234.35,2739.32,764.52,6337.96,10085.90